# Infracost cache
.infracost-cache
.infracost
infracost-comment.md

# Terraform
.terraform*

# Terragrunt
.terragrunt*

# Editor
*.vsix
.idea/
.taskkey
.vscode

# Node
node_modules/

# Mac OSX
.DS_STORE
